{% extends 'base.html.twig' %}

{% block title %}Alerte index{% endblock %}

{% block body %}
    <h1>Alerte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lib_alert</th>
                <th>Dat_alertAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alerte in alertes %}
            <tr>
                <td>{{ alerte.id }}</td>
                <td>{{ alerte.libAlert }}</td>
                <td>{{ alerte.DatAlertAt ? alerte.DatAlertAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_alerte_show', {'id': alerte.id}) }}">show</a>
                    <a href="{{ path('app_admin_alerte_edit', {'id': alerte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_alerte_new') }}">Create new</a>
{% endblock %}
