{% extends 'base.html.twig' %}

{% block title %}Mesure index{% endblock %}

{% block body %}
    <h1>Mesure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libel_mess</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mesure in mesures %}
            <tr>
                <td>{{ mesure.id }}</td>
                <td>{{ mesure.libelMess }}</td>
                <td>
                    <a href="{{ path('app_admin_mesure_show', {'id': mesure.id}) }}">show</a>
                    <a href="{{ path('app_admin_mesure_edit', {'id': mesure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_mesure_new') }}">Create new</a>
{% endblock %}
