{% extends 'base.html.twig' %}

{% block title %}Mesure{% endblock %}

{% block body %}
    <h1>Mesure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mesure.id }}</td>
            </tr>
            <tr>
                <th>Libel_mess</th>
                <td>{{ mesure.libelMess }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_mesure_index') }}">back to list</a>

    <a href="{{ path('app_admin_mesure_edit', {'id': mesure.id}) }}">edit</a>

    {{ include('admin_mesure/_delete_form.html.twig') }}
{% endblock %}
